* {
	font-family: Arial;
}

#navbar {
	background-color: #009adb;
	display: flex;
}

#navbar a {
	font-size: 1.5em;
	color: #000;
}

#navbar a:hover {
	text-decoration: none;
}

#navbar > div {
	text-align: center;
}

#navbar > div:hover {
	background-color: #02c1fa;
}

#content {
	padding: 20px;
	font-size: 1.5em;
}

#content > img {
	float: left;
	margin: 10px;
	margin-left: 0;
	width: 50%;
}